//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}

# Packages from GitHub Package Registry
@finqu/storefront-sdk:registry=https://npm.pkg.github.com
@finqu/storefront-types:registry=https://npm.pkg.github.com

# @finqu/cli uses npm public registry (no config needed)